[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=PicoCosmo
Comment=PicoCosmo Configuration
Icon=/home/pi/git/picoCosmo/images/CosmoPanels_icon.png
Exec=lxterminal -t "CosmoGui" -e /home/pi/git/picoCosmo/CosmoGui.py
Terminal=false

