[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=PicoKanne
Comment=PicoCosmo Configuration
Icon=/home/pi/picoCosmo/images/CosmoKanne_icon.png
Exec=lxterminal -t "CosmoGui" -e CosmoGui.py picoCosmo/Kanne.daq
Terminal=false

